.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ddd;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); /* Prevent inheritance from `body` */
  background-color: #777;
  border: .05rem solid #777;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  /*background-color: rgb(27, 202, 255);*/
  z-index: 2;
}

.text-center {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  z-index: 5;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  z-index: 5;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 142px;
    height: 86px;
    background-image: url("../img/ac2.png");
    background-repeat: no-repeat;
    animation: animate 25s linear infinite;
    bottom: -200px;
    transform-origin: 13% 13%;
    z-index: 0;
}

.circles li:nth-child(1){
    left: 100%;
    background-size: 25%;
    animation-delay: 4s;
    animation-duration: 10s;
}


.circles li:nth-child(2){
    left: 90%;
    background-size: 25%;
    animation-delay: 1s;
    animation-duration: 10s;
}

.circles li:nth-child(3){
    left: 80%;
    background-size: 25%;
    animation-delay: 8s;
    animation-duration: 10s;
}

.circles li:nth-child(4){
    left: 70%;
    background-size: 25%;
    animation-delay: 2s;
    animation-duration: 10s;
}

.circles li:nth-child(5){
    left: 60%;
    background-size: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}

.circles li:nth-child(6){
    left: 50%;
    background-size: 25%;
    animation-delay: 9s;
    animation-duration: 10s;
}

.circles li:nth-child(7){
    left: 40%;
    background-size: 25%;
    animation-delay: 3s;
    animation-duration: 10s;
}

.circles li:nth-child(8){
    left: 30%;
    background-size: 25%;
    animation-delay: 6s;
    animation-duration: 10s;
}

.circles li:nth-child(9){
    left: 20%;
    background-size: 25%;
    animation-delay: 7s;
    animation-duration: 10s;
}

.circles li:nth-child(10){
    left: 10%;
    background-size: 25%;
    animation-delay: 0s;
    animation-duration: 10s;
}



@keyframes animate {

    0%{
        transform: translateY(-100px) rotateZ(0deg);
        opacity: 0;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotateZ(3600deg);
        opacity: 1;
        border-radius: 0;
    }

}